*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html, body {
    height: 100%; 
    margin: 0; 
}
.container_homepage {
    width: 100%;
    min-height: 100vh; 
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url(homepage.png);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    overflow: hidden; 
}

.container {
    width: 100%;
    min-height: 100vh; 
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url(frontpage.png);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    overflow: hidden; 
}
/************************************************************************************************
navigation bar
*/
nav {
    display: flex;
    width: calc(100% + 24%);
    margin-left: -12%;
    align-items: center;
    background-color: #000;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    vertical-align: middle;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

.name {
    padding-left: 40px;
    width: 250px;
    cursor: pointer;
}

.logo {
    width: 50px;
    margin-left: 20px;
    vertical-align: middle;
}

.social_logo {
    width: 20px;
    margin-left: 20px;
    vertical-align: middle;
}

/* Text Box */
.text-box {
    color: #fff;
    position: absolute;
    bottom: 8%;
}

.text-box p {
    font-size: 50px;
    font-weight: 600;
}

.text-box h1 {
    font-size: 150px;
    line-height: 160px;
    margin-left: -10px;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    background: url(../images/back.png);
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 15s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.text-box h3 {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}

/* About Me Section */
.page_s {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    font-family: cursive;
    color: #ffffff;
}

.page {

    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    color: #fff;
    line-height: 1.5;
}
.page_s h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

.page_s h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto;
}

.page_s h3 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
.page_s h4 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
.page_s p {
    font-size: 17px;
    text-align: left;
    font-weight: normal;
}
.page_s ul {
    padding-left: 40px; 
    text-align: left;
    line-height: 1.5;
}
.cards {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensures responsiveness */
    margin: 20px auto;
}

.card-content {
    width: 48%; /* Adjusted width to fit within the flex container */
    height: 100%;
    justify-content: center;
}
.card {
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20px;
    font-family: cursive;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    font-size: 20px;
    text-align: left;
    margin: 10px auto;
    line-height: 1.5;
}
.card h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.card ul {
    padding-left: 40px; 
    text-align: left;
}

.card a {
    display: block;
    text-decoration: none;
    color: inherit;
    box-shadow: none;
}


@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
    .card-content {
        width: 85%;
        margin: 25px auto;
    }
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: white;
}
